<!Doctype html>
<html>
    <head>
        <link rel="icon" href="../../images/weather-icon.png">
        <title>
            Help
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{!-- partial handlebars --}}
            {{>header}}
            <h3>
                Hello, How can I help You?
            </h3>
        </div>
        {{>footer}}
    </body>
</html>