<!Doctype html>
<html>
    <head>
        <link rel="icon" href="../../images/weather-icon.png">
        <title>
            Weather App
        </title>
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h3>The Page you are looking for is not present or have been currently removed.</h3>
        </div>
       
        {{>footer}}
    </body>
    <script src="../js/app.js"></script>
</html>